.dashboard-container {
    padding: 24px;
    
    h2 {
      margin-bottom: 20px;
      color: #3f51b5;
    }
  
    table {
      width: 100%;
    }
  
    .mat-column-name {
      width: 20%;
    }
  
    .mat-column-email {
      width: 25%;
    }
  }